
.circle {
    width: 100px;
    height: 100px;
    line-height: 80px;
    border-radius: 50%;
    color: white;
    text-align: center;
    border: 8px solid white;
    font-size: small;
    /*padding-right: 0;*/
    /*margin: auto;*/
    /*background: #3d3f41*/
}

.circleA {
    background-color: #E6563B;


}

.circleB{
    background-color: #EB9D3A;
}
.circleC{
    background-color: #7CB06C;

}
.circleD {
    background-color: #00ABA9;

}


.text1 {
    text-align: center;
    color: white;
}

.abc {
    width: 25px;
    height: 25px;
    line-height: 31px;
    border-radius: 50%;
    font-size: 11px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
}


    /*background: blueviolet;*/



/*.logo{*/
/*    width: 5px;*/
/*    height: 5px;*/
/*}*/

#logo{
    width: 40px;
    height: 40px;
}
body {
    /*margin: 50px;*/
    /*padding: 20px;*/
}

#fp{
    /*font-size: 10px;*/
    float: right;

}

body{
    background-color: #E6E6E6;
    margin: 0;
}

.navbar-toggler{
    margin-left: auto;
    border: none;
}

.logo{
    width:80px;
    height:80px;
    margin-right: 2em;
    margin-bottom: 0;
}


ul.collapsed-nav{
    display: flex;
    list-style: none;
    justify-content: start;
    margin: 1px;
    font-style: normal;
    padding-top: 2em;
    font-size: medium;
    color: rgba(128, 128, 128, 0.28);
    font-family: 'Abel', sans-serif;
}


ul.expanded-nav{
    list-style: none;
    margin-left: 0;
    font-family: 'Abel', sans-serif;
    font-weight: bold;

}


.nav-link{
    padding: .5em;
    /*font-family: 'Abel', sans-serif;*/
    color: grey;
}


.nav-logo-link{
    font-family: 'Abel', sans-serif;
    margin-right: 2em;
    font-size: x-large;
    color: black;
    text-decoration: none;
}
