
.circle {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    font-size: 10px;
    color: white;
    text-align: center;
    background: #E6563B
}

.regtext {
    font-size: 15px;
}


